In [1]:
import geopandas as gpd
import numpy as np
import pandas as pd
import os

In [5]:
os.getcwd()

'C:\\Users\\simjh96\\OneDrive\\문서\\Car_Accident\\data\\speed'

In [7]:
road_gdf = gpd.read_file('23.오산시_상세도로망_LV6.geojson')
speeds = pd.read_excel('2018년_평균속도_경기도 오산시_주요도로망Level5.5_도로단위_중복제거2.xlsx') 
six_to_its = pd.read_csv("2017년_상세도로망Level6과 ITS도로망, 주요도로망level5.5_매칭테이블.csv")
road_gdf.link_id = road_gdf.link_id.apply(int)

with_its = pd.merge(road_gdf, six_to_its,how='left',left_on='link_id', right_on='level6_linkID')
with_55 = with_its.loc[~np.isnan(with_its.loc[:,'level5.5_linkID'])]
with_55 = pd.merge(with_55, speeds,how='left',left_on='level5.5_linkID', right_on='level5.5_linkID')
final = with_55.loc[:, ['link_id','week_type','velocity_AVRG']].drop_duplicates()
final.index = range(len(final.index))
final

        link_id week_type  velocity_AVRG
0     478344684   weekend          61.73
1     478344686   weekend          69.04
2     478344690   weekend          78.15
3     478344696   weekend          67.75
4     478344700   weekend          42.40
...         ...       ...            ...
1368  571372097   weekend          37.69
1369  571372099   weekend          37.69
1370  571372099   weekend          31.37
1371  571372100   weekend          31.37
1372  571372100   weekend          37.69

[1373 rows x 3 columns]

In [19]:
road_gdf = gpd.read_file('23.오산시_상세도로망_LV6.geojson')
speeds = pd.read_excel('2018년_혼잡시평균속도_경기도 오산시_주요도로망Level5.5_도로단위.xlsx') 
six_to_its = pd.read_csv("2017년_상세도로망Level6과 ITS도로망, 주요도로망level5.5_매칭테이블.csv")
road_gdf.link_id = road_gdf.link_id.apply(int)

with_its = pd.merge(road_gdf, six_to_its,how='left',left_on='link_id', right_on='level6_linkID')
with_55 = with_its.loc[~np.isnan(with_its.loc[:,'level5.5_linkID'])]
with_55 = pd.merge(with_55, speeds,how='left',left_on='level5.5_linkID', right_on='level5.5_linkID')
with_55
final = with_55.loc[:, ['link_id','week_type','velocity_CG_AVRG']].drop_duplicates()
final.index = range(len(final.index))
final = final.loc[~np.isnan(final.velocity_CG_AVRG)]

In [21]:
final

        link_id week_type  velocity_CG_AVRG
5     478344746   weekend             69.67
7     571200680   weekend             15.75
8     571200680   weekend             18.48
9     571200886   weekend             22.03
10    571200886   weekend             25.76
...         ...       ...               ...
1368  571372097   weekend             19.50
1369  571372099   weekend             19.50
1370  571372099   weekend             15.30
1371  571372100   weekend             15.30
1372  571372100   weekend             19.50

[1287 rows x 3 columns]

In [20]:
final.to_csv('speed_at_chaos.csv')